<!-- app/views/pessoas/index.html.erb -->
<h1>Listagem de Pessoas</h1>

<%= link_to "Adicionar Pessoa", new_pessoa_path, class: "adicionar-pessoa-btn" %>

<!-- Tabela para listar as pessoas -->
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Idade</th>
      <th>Sexo</th>
      <th>Arquivo Anexado</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'table_row', collection: @pessoas, as: :pessoa %>
  </tbody>
</table>
