body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flash-notice {
    color: green;
}
  
.flash-alert {
    color: red;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
a:hover {
    background-color: #2980b9;
}

table {
    margin-top: 10px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form1, .form2, .form4 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form3 {
    width: 100%;
    margin-bottom: 20px;
}

.form-group {
    width: 48%;
}

.radio-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.form4 .form-group:last-child {
    text-align: end;
}

.btn-save,
.btn-back {
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #ccc;
}

.delete-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
}

.delete-button:hover {
    background-color: red;
}
  
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
  
form input[type="text"],
form input[type="number"],
form input[type="file"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
  
form input[type="submit"] {
    background-color: white;
    color: #3498db;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
  
form input[type="submit"]:hover {
    background-color: #2980b9;
    color: white;
}
